<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{% block title %}{% endblock %} « IGJam.eu</title>

	<link rel="stylesheet" href="{{ href('css/foundation.min.css') }}"/>
	<link rel="stylesheet" href="{{ href('css/layout.css') }}"/>
	<link rel="stylesheet" href="{{ href('css/navi.css') }}"/>
	<link rel="stylesheet" href="{{ href('css/texte.css') }}"/>
	<link rel="stylesheet" href="{{ href('css/contentelemente.css') }}"/>
	<link rel="stylesheet" href="{{ href('css/gamescom.css') }}"/>
	<script src="{{ href('js/vendor/modernizr.js') }}"></script>
	<script src="{{ href('js/vendor/jquery.js') }}"></script>

	<link rel="icon" href="{{ href('img/gamescom/favicon.ico') }}" type="image/x-icon">

	{% block head %}{% endblock %}
</head>
<body>
<!-- Header Start -->
<section id="header">
	<div class="row">
		<div class="small-6 columns">
			<!-- Header text -->
		</div>

		<div class="small-6 columns right">
			<!-- Login -->
			{% if session.isAnonymous() == true %}
			<a href="{{ href('/login') }}" class="button login">Login</a>

			<p class="logout_headline">&nbsp;</p>
			{% else %}
			{% if current_user.invitiation %}
			<a href="{{ href('/invitations') }}" class="button login">{{ current_user.invitation | length }}
				<i class="icon-envelope"></i></a>
			{% endif %}
			<a href="{{ href('/profile') }}" class="button login" id="account">
				<img class="avatar" src="{{ session.avatar }}" width="16" height="16"/>
				{{ current_user.username }} <br/>
			</a>

			<p class="logout_headline"><a href="{{ href('/logout') }}">Logout</a></p>
			{% endif %}
			<!-- Follow us on -->
			<p class="socialmedia_headline">Follow us on</p>
			<ul class="socialmedia">
				<li class="facebook"><a href="https://www.facebook.com/InnoGames/" target="_blank"></a></li>
				<li class="youtube show-for-medium-up"><a href="https://www.youtube.com/user/InnoGames" target="_blank"></a></li>
				<li class="twitter"><a href="https://twitter.com/InnoGames" target="_blank"></a></li>
			</ul>
		</div>
	</div>
</section>
<!-- Header Stop -->

<nav class="row hide-for-large-up">
	<div class="icon-bar five-up">
		<a class="item" href="{{ href('index') }}"><label>Home</label></a></li>
		<a class="item" href="{{ href('news') }}"><label>News</label></a>
		<a class="item" href="{{ href('rules') }}"><label>Rules</label></a>
		<a class="item" href="{{ href('faq') }}"><label>FAQ</label></a>
		<a class="item" href="{{ href('about') }}"><label>About</label></a>
	</div>
</nav>

<!-- Navi Start -->
<nav class="row show-for-large-up">
	<div class="row">
		<div class="large-12 columns nav-content">
			<ul class="main_menu">
				{% if request.endpoint == "index" %}
				<li class="active"><a href="{{ href('index') }}">Home</a></li>
				{% else %}
				<li><a href="{{ href('index') }}">Home</a></li>
				{% endif %}

				{% if request.endpoint == "news" %}
				<li class="active"><a href="{{ href('news') }}">News</a></li>
				{% else %}
				<li><a href="{{ href('news') }}">News</a></li>
				{% endif %}

				{% if request.endpoint == "rules" %}
				<li class="active"><a href="{{ href('rules') }}">Rules</a></li>
				{% else %}
				<li><a href="{{ href('rules') }}">Rules</a></li>
				{% endif %}

				{% if request.endpoint == "faq" %}
				<li class="active"><a href="{{ href('faq') }}">FAQ</a></li>
				{% else %}
				<li><a href="{{ href('faq') }}">FAQ</a></li>
				{% endif %}

				{% if request.endpoint == "jams" %}
				<li class="active"><a href="{{ href('jams') }}">Game Jams</a></li>
				{% else %}
				<li><a href="{{ href('jams') }}">Game Jams</a></li>
				{% endif %}

				{% if request.endpoint == "games" %}
				<li class="active"><a href="{{ href('games') }}">Games</a></li>
				{% else %}
				<li><a href="{{ href('games') }}">Games</a></li>
				{% endif %}

				{% if request.endpoint == "gamescom" %}
				<li class="active"><a href="{{ href('gamescom') }}">Gamescom</a></li>
				{% else %}
				<li><a href="{{ href('gamescom') }}">Gamescom</a></li>
				{% endif %}

				{% if request.endpoint == "about" %}
				<li class="active"><a href="{{ href('about') }}">About</a></li>
				{% else %}
				<li><a href="{{ href('about') }}">About</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
<!-- Navi Stop -->

<!-- Content Start -->
<section id="content">
			<span class="show-for-large-up">
			{% block breadcrumb %}{% endblock %}
			</span>
	{% for message in current_user.flashed_messages %}
	<div class="row" style="margin-top:5px;">
		<div class="large-12 columns">
			<div data-alert class="alert-box success radius">
				{{ message }}
			</div>
		</div>
	</div>
	{% endfor %}

	<div class="content row">
		{% block center %}
		{% endblock %}

		{% block content %}
		Wooops... no content found :(
		{% endblock %}
	</div>
</section>
<!-- Content Stop -->

{% include "footer.html" %}

<script src="{{ href('js/foundation.min.js') }}"></script>
<script>
	$(document).foundation();
</script>
</body>
</html>
